.container {
    max-width: 500px;
}

.form-container {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container p {
    margin-bottom: 20px;
    font-size: 1.1rem;
    line-height: 1.6;
}

.btn-primary {
    width: 100%;
    margin: 2px;
}
